@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colorOne: #BDD9BF;
    --colorTwo: #2E4052;
    --colorThree: #FFC857;
    --colorFour: #FFFFFF;
    --colorFive: #412234;
}

a {
    text-decoration: none;
    color: white;
}

a,.header {
    color: var(--colorThree);
}


html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    background-color: var(--colorTwo);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
.header {
    background-color: var(--colorFive);
    font-size: 18px;
    padding: 24px 36px 24px 36px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 16px;
}

:hover.link {
    color: #2E4052;
}


#logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    color: var(--colorFour);
}

.footer {
    background-color: var(--colorThree);
    color: var(--colorFive);
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 36px 32px 36px;
}

p,.footer {
   margin: 0px;
}