@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colorOne: #BDD9BF;
    --colorTwo: #2E4052;
    --colorThree: #FFC857;
    --colorFour: #FFFFFF;
    --colorFive: #412234;
}

a {
    text-decoration: none;
    color: white;
}

a,.header {
    color: var(--colorThree);
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    background-color: var(--colorTwo);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--colorFive);
    font-size: 18px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 16px;
}