@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --colorOne: #BDD9BF;
    --colorTwo: #2E4052;
    --colorThree: #FFC857;
    --colorFour: #FFFFFF;
    --colorFive: #412234;
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

a,.header {
    color: var(--colorThree);
}


html {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0px;
    background-color: var(--colorTwo);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.header {
    background-color: var(--colorFive);
    font-size: 18px;
    padding: 24px 36px 24px 36px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    display: flex;
    gap: 16px;
}

:hover.link {
    color: #2E4052;
}


#logo {
    font-size: 24px;
    font-weight: 900;
}

.hero {
    text-align: center;
    padding: 96px;
}

.hero-text {
    font-size: 72px;
    font-weight: bolder;
    color: var(--colorFour);
}

.hero-sub {
    font-size: 24px;
    font-weight: 300;
    background-image: linear-gradient(to left,var(--colorFour), var(--colorOne), var(--colorThree));
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.footer {
    background-color: var(--colorThree);
    color: var(--colorFive);
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 36px 32px 36px;
}

p,.footer {
   margin: 0px;
}

.about {
    background-color: var(--colorOne);
    color:var(--colorFive);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
    gap: 96px;
    flex-wrap: wrap;
}

.about-text {
    width: 500px;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.about-text h2 {
    font-size: 48px;
    margin: 16px;
}

.about-photo {
    text-align: center;
    color: var(--colorFive);
}

#computeropa {
    border: 4px solid var(--colorFive);
    border-radius: 4px;
}